# Base de datos
DB_USERNAME=postgres
DB_PASSWORD=postgres
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/futbolapp

# Firebase
FIREBASE_SERVICE_ACCOUNT_B64=
FIREBASE_API_KEY=

# APIs externas
API_FOOTBALL_KEY=
GROQ_API_KEY=

# Eureka / Config
EUREKA_URI=http://localhost:8761/eureka/
CONFIG_SERVER_HOST=localhost
