<ion-header>
  <ion-toolbar>
    <ion-title>Jugadores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Jugadores</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-searchbar
    [(ngModel)]="filterForm.name"
    placeholder="Buscar por nombre..."
    (ionInput)="search()"
    (ionClear)="search()"
    debounce="500"
  ></ion-searchbar>

  <div class="filter-row">
    <ion-item>
      <ion-label position="floating">Equipo</ion-label>
      <ion-input [(ngModel)]="filterForm.team" (ionChange)="search()" debounce="500"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Liga</ion-label>
      <ion-input [(ngModel)]="filterForm.league" (ionChange)="search()" debounce="500"></ion-input>
    </ion-item>
  </div>

  <ion-note *ngIf="error()" color="danger" class="ion-padding-start ion-padding-top">
    {{ error() }}
  </ion-note>

  <ion-note *ngIf="!loading() && players().length === 0 && !error()" class="ion-padding-start ion-padding-top">
    No se encontraron jugadores.
  </ion-note>

  <ion-list>
    <ion-item *ngFor="let p of players()" button detail routerLink="/players/{{ p._id }}">
      <ion-avatar slot="start">
        <img *ngIf="p.photo; else noPhoto" [src]="p.photo" [alt]="p.name" />
        <ng-template #noPhoto>
          <div class="avatar-placeholder">{{ p.name.charAt(0) }}</div>
        </ng-template>
      </ion-avatar>
      <ion-label>
        <h2>{{ getPlayerName(p) }}</h2>
        <p>{{ p.position }}<span *ngIf="p.team"> &middot; {{ p.team }}</span></p>
        <p *ngIf="p.nationality">{{ p.nationality }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="loadMore($event)" threshold="100px">
    <ion-infinite-scroll-content loadingText="Cargando más jugadores..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-spinner *ngIf="loading() && players().length === 0" class="center-spinner"></ion-spinner>
</ion-content>
