<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <img src="assets/icon.png" alt="TactiXI" class="header-icon" />
    </ion-buttons>
    <ion-title class="header-title">Registrarse</ion-title>
    <ion-buttons slot="end">
      <app-auth-header></app-auth-header>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="register()">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input name="email" type="email" [(ngModel)]="email" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input name="password" type="password" [(ngModel)]="password" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Confirmar contraseña</ion-label>
      <ion-input name="confirmPassword" type="password" [(ngModel)]="confirmPassword" required></ion-input>
    </ion-item>

    <ion-note *ngIf="error" color="danger" class="ion-padding-top">
      {{ error }}
    </ion-note>

    <ion-button type="submit" expand="block" class="ion-margin-top">
      Crear cuenta
    </ion-button>

    <ion-button routerLink="/login" expand="block" fill="clear">
      ¿Ya tienes cuenta? Iniciar sesión
    </ion-button>
  </form>
</ion-content>
